<div>
  <div class="row bg-dark border border-rounded">
    <div class="col-sm-3 nopadding">
      <a href="#">
        <img class="border border-white rounded-circle" width="140px" height="150px" [src]="user?.img" />
      </a>
    </div>
    <div class="col-sm-9 wrapper">
      <span id="information" class="text-white">
        <h1>{{user?.name}}</h1>
        <h5>{{user?.title}}, {{user?.location}}</h5>
        <h6>{{user?.phone}}, {{user?.email}}</h6>
      </span>
    </div>
  </div>
  <div class="row border">
    <div class="row">
      <div class="col-sm-12">
        <p>
          {{user?.summary.short}}
          <span class="actlikelink" (click)="toggleExecutiveSummary()" data-toggle="collapse" data-target="#executiveSummary" aria-controls="executiveSummary"
            [attr.aria-expanded]="showExecutiveSummary" aria-label="Toggle Summary"> {{showDetaiText}}... </span>
        </p>
      </div>
    </div>
    <div id="executiveSummary" class="row list-group collapse" [ngClass]="{'show':showExecutiveSummary}" [attr.aria-expanded]="showExecutiveSummary">
      <div class="col-sm-12">
        <button class="list-group-item list-group-item-action" *ngFor="let d of user?.summary.detail">{{d}}</button>
      </div>
    </div>
  </div>
  <div class="row border">
    <div class="col-sm-12">
      <a routerLink="/technologies">Technologies</a>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          Tech Graph!!
        </div>
        <div class="col-sm-6">
          <div class="row">
            <table class="table table-hover">
              <ng-container *ngFor="let tech of technologies; let i = index">
                <ng-container *ngIf="i % 3 == 0">
                <tr>
                  <td>
                      {{technologies[i].name}}
                  </td>
                  <td>
                      {{technologies[i + 1].name}}
                  </td>
                  <td>
                      {{technologies[i + 2].name}}
                  </td>
                </tr>
                <tr>
                  <td [routerLink]="['/technologies', technologies[i].name]">
                      <img *ngFor="let subtech of technologies[i].subtech" [src]="subtech.src" width="20px" height="20px" />
                  </td>
                  <td *ngIf="technologies[i+1]" [routerLink]="['/technologies', technologies[i+1].name]">
                      <img *ngFor="let subtech of technologies[i+1].subtech" [src]="subtech.src" width="20px" height="20px" />
                  </td>
                  <td *ngIf="technologies[i+2]" [routerLink]="['/technologies', technologies[i+2].name]">
                      <img *ngFor="let subtech of technologies[i+2].subtech" [src]="subtech.src" width="20px" height="20px" />
                  </td>
                </tr>

              </ng-container>
              </ng-container>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row border">
    <div class="col-sm-12">
      <a routerLink="/experience">Experience</a>
    </div>
    <div class="col-sm-6" *ngFor="let exp of experiences">
      <img [src]="exp.src" width="20px" height="20px" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <span class="actlikelink" (click)="toggleShowVideo()">Enough text!! Show me a video >></span>
    </div>
  </div>
  <div class="row" *ngIf='showVideo'>
    <div class="col-sm-12">
      <iframe width="420" height="315" [src]='safeURL' frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>