<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="col-md-12 col-lg-12 col-xl-12">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <a class="navbar-brand" routerLink="summary">
        <img class="border border-white rounded-circle" width="30px" height="30px" [src]="user?.img" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngClass]="{'show':isNavbarShow}" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [ngClass]="{'active':isSummarySelected}" (click)="navbarClicked('summary')">
            <a class="nav-link" routerLink="summary" (click)="toggleNavbar()">
              Home
            </a>
          </li>
          <li class="nav-item dropdown" [ngClass]="{'active':isTechnologiesSelected}" (click)="navbarClicked('technologies')" (clickOutside)="clickedOutside('technologies')">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Technologies
            </a>
            <div class="dropdown-menu" [ngClass]="{'show':technologiesShow}" aria-labelledby="navbarDropdownMenuLink">
              <li *ngFor="let technologies of technologies" (click)="toggleNavbar()" [routerLink]="['/technologies', technologies.name]"
                class="dropdown-item d-flex justify-content-between align-items-center">
                {{technologies.name}} &nbsp;
                <span class="badge badge-primary badge-pill">{{technologies.experience}}</span>
              </li>
            </div>
          </li>
          <li class="nav-item dropdown" [ngClass]="{'active':isExperienceSelected}" (click)="navbarClicked('experience')" (clickOutside)="clickedOutside('experience')">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Experience
            </a>
            <div class="dropdown-menu" [ngClass]="{'show':expToggle}" aria-labelledby="navbarDropdownMenuLink">
              <li *ngFor="let exp of experiences" (click)="toggleNavbar()" routerLink="experience" class="dropdown-item d-flex justify-content-between align-items-center">
                {{exp.shortName}} &nbsp;
                <span class="badge badge-primary badge-pill">{{exp.location}}</span>
              </li>
            </div>
          </li>
          <li class="nav-item dropdown" [ngClass]="{'active':isProjectSelected}" (click)="navbarClicked('project')" (clickOutside)="clickedOutside('project')">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Projects
            </a>
            <div class="dropdown-menu" [ngClass]="{'show':projToggle}" aria-labelledby="navbarDropdownMenuLink">
              <ng-container *ngFor="let exp of experiences">
                <li *ngFor="let proj of exp.projects" (click)="toggleNavbar()" routerLink="project" class="dropdown-item d-flex justify-content-between align-items-center">
                  {{proj.short}} - {{proj.name}} &nbsp;
                  <span class="badge badge-primary badge-pill">{{exp.shortName}}</span>
                </li>
              </ng-container>
            </div>
          </li>
          <li class="nav-item" [ngClass]="{'active':isMoreSelected}" (click)="navbarClicked('more')">
            <a class="nav-link" routerLink="more" (click)="toggleNavbar()">More</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <body>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12 bg-light">
        <div class="row">
          <div class="col-md-12 PageLine2V"></div>
        </div>
        <div class="row">
          <div class="col-md-1 bg-warning"></div>
          <div class="col-md-10 content">
            <div class="row">
              <router-outlet></router-outlet>
            </div>
          </div>
          <div class="col-md-1 bg-warning"></div>
        </div>
        <div class="row">
          <div class="col-md-12 PageLine2V"></div>
        </div>
        <div id="contact" class="row fixed-bottom">
          <div class="col-sm-12">
            <button class="btn rounded btn-success right" [ngClass]="{collapsed:!showContacts}" (click)="toggleShowContacts()" data-toggle="collapse"
              data-target="#contactBtn" aria-controls="contactBtn" [attr.aria-expanded]="showContacts">
              <span class="glyphicon glyphicon-align-left" aria-hidden="true">Contact</span>
            </button>
          </div>
          <div id="contactBtn" class="col-sm-12 center translucent collapse" [ngClass]="{show:showContacts}" [attr.aria-expanded]="showContacts">
            <button class="btn btn-primary">LinkedIn</button>
            <button class="btn btn-primary">GitHub</button>
            <button class="btn btn-primary">Gmail</button>
            <button class="btn btn-primary">Twitter</button>
            <button class="btn btn-primary">Facebook</button>
            <button class="btn btn-primary">Instagram</button>
            <button class="btn btn-primary">Skype</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>