/* You can add global styles to this file, and also import other style files */

.actlikelink {
    cursor: pointer;
    color:#007bff;
}

.title {
    color:#007bff;
    font-size: 20px;
}

.mat-expansion-indicator::after {
  color: grey;
}

.data{
    text-align: center;
    margin: 0px;
    padding: 2px;
}

.nopadding {
    padding: 0px !important;
}

.border {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

img.border {
    padding: 1px;
    margin: 0px;
}

.detail {
    font-size: 10px;
    color: grey;
}